<!DOCTYPE html>
<html>
    <head>
        <title>Bowling Alley</title>
    </head>
    <body>
<<<<<<< HEAD

=======
<<<<<<< HEAD
>>>>>>> fc7342660144847c942d79cfd1b0a3e667ff9b62
        <h1> Buster's Best Bowling Alley</h1>
        <h2> Bet You Can't Bowl A Strike Every Time</h2>
        <p> 97 Bowling Alley Lane, Boulder CO </p>

    </body>
</html>
